.tether-element, .tether-element:after, .tether-element:before, .tether-element *, .tether-element *:after, .tether-element *:before {
  box-sizing: border-box; }

.tether-element {
  position: absolute;
  display: none; }
  .tether-element.tether-open {
    display: block; }

.navbar-theme {
    background-color: #464646!important;
    color: #FFFFFF!important;
}

.nav-item,.nav-link {
    color: #FFFFFF !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none!important;
    background-color: #535353!important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    text-decoration: none !important;
    background-color: #535353!important;
}

.btn-enterprise {
    background-color: #552ad6;
    color: #ffffff;
    font-size: 20px !important;
}

.title1 {
    margin-top: 20px;
    font-size: 50px;
    line-height: normal;
    color: #000000;
}

.title2 {
    font-size: 20px;
    color: #000000;
}

.link {
    font-size: 20px;
    color: #000000;
}
/*BASIC CSS FOR CENTERING DIV IN PAGE  -->  inner inside middle inside outer*/

.outer {
    display: table!important;
    position: absolute!important;
    height: 100%!important;
    width: 100%!important;
}

.middle {
    display: table-cell!important;
    vertical-align: middle!important;
}

.inner {
    margin-left: auto!important;
    margin-right: auto!important;
    width: auto/*whatever width you want*/ !important;
}

.purplebtn {
    background-color: #552AD6 !important;
    color: white;
}

/*BASIC CSS FOR CENTERING DIV IN PAGE (END)*/

/* Center div horizontally (inside is inside of wrapper) */

.wrapper {
    text-align: center;
}
.inside {
    display: inline-block;
}
.title {
    color: white;
    font-size: 50px;
    line-height: normal;
}

.warning {
    color: white;
    font-size: 20px;
}